$primary-color: #ffffff;
$secondary-color: black;
$third-color: #CC8899;
$fourth-color: #fcba03;
$border-radius: 5px !default;
$box-shadow: 0 0.5rem 1rem rgba($secondary-color, 0.15) !default;
$full-height: 100% !default;
$tenth-width: 10%;
$generic-fontsize: 2em;
$header-font: 50px;